*{
    box-sizing: border-box;
    font-family: "Radiance","Noto Sans",sans-serif;
    list-style: none;
}
body{
    font-size:62.5%;
    width: 100%;
    height: 100%;
    background-color: #000000;
    margin: 0%;
        
}
/* This is my header */
.container_header{
    width: 100%;
    height: 80vh;
    float: left;
}
.video{
    width: 100%;
    height: 72%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    opacity: .6;
    position: absolute;
}
.microheader_top{
    top: 0%;
    width: 100%;
    height: auto;
    z-index: 9999;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-left: 0%;
    padding-top: 5px;
    align-items: center;
    flex-wrap: nowrap
}
.microheader_left{
    font-family: "Reaver",serif;
    font-weight: 600;
    letter-spacing:0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 2.4%;
    text-transform: uppercase;
}
.dota2_logo{
    width: 200px;
    min-width: 120px;
    height: 40px;
    min-height: 30px;
    opacity: .8;
    margin-right: 55px;
}
.microheader_left ul {
    padding-left: 0%;
}
.microheader_left a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    opacity: .8;
    padding-right: 1.7rem;
    font-family: Reaver, serif;
}
.space_1{
    margin: 0% 10% 0% 10%;
}
.microheader_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: auto;
    padding-right: 70px;
    font-weight: lighter;
    font-size: 0.9rem;
}
.microheader_right ul li a{
    text-decoration: none;
}
.microheader_right a{
    letter-spacing: 0.1rem; 
}
.microheader_right ul{
    text-align: right;
}
.microheader_right li{
    margin-bottom: 7px;
}
.sesion{
    text-align: right;
    color: #ffffff;
    letter-spacing: 1px;
}
.idioms{
    color: rgb(153, 153, 153);
    font: 1rem;
}
.button{
    border: #ffffff90 3px solid;
    display: flex;
    flex-direction:row ;
    align-items: center;
    color: #ffffff90 2.5px;
    padding: 18px 32px;
    border-radius: 6px 8px;
    margin-left: 1.2rem;
}
.button_1{
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//icons/steam_icon.svg");
}
.button_2{
     display: flex;
    flex-direction: row;
    color: #ffffff;
    text-decoration: none;
    text-align: center;

    font-family: Radiance, "Noto Sans", sans-serif;;
    font-weight: 200;
    font-size: 1.2rem;   
}
.microheader_section{
    height: 100%;
    width: fit-content;
    max-width: 60%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}
    .h1{
        font-size: 4rem;
        line-height:102%;
        font-family: "Reaver",serif;
        letter-spacing: 3px;
        font-weight: 900;
        color: #ffffffee;
        text-shadow: 0px 0px 20px #000;
        padding-top: 15%;
    }
    .destructoid{
        margin-top: 5px;
        margin-bottom: 21px;
        font-weight: 400;
        font-size: 20px;
        color: #ffffff90;
        letter-spacing: 2px;
        font-family: "Radiance",sans-serif;
    }
    .horiz_bar{
        width: 80px;
        height: 3px;
        min-height: 3px;
        border-radius: 1px;
        background-color: #ff6046;
    }
    .button_secundary{
        width: 287px;
        height: 78px;
        border-radius: 6px;
        border: 3px solid #ffffff90;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        cursor: pointer;       
    }
        .steam_logo{
            background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//icons/steam_icon.svg");
            width: 32px;
            height: 32px;
            margin: 0px 15px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .play_download{
            display: flex;
            flex-direction: column;
        }
            .play{
                color: #fff;
                font-size: 26px;
                
            }
            .download{
                color: #ffffff90;
                font-size: 12px;           
                letter-spacing: 2.3px;
            }
.microheader_bottom{
    width: 100%;
    height: auto;
    padding: 0% 15% ;
    display: flex;
    flex-direction: column;
    padding-top: 7%;
}
    .micro_top{
        display: flex;
        flex-direction: row;
    }
        .ultimate{
            color: #fff;
            font-size: 15px;
            letter-spacing: 4px;
            font-weight: bold;
            padding-bottom: 2%;
        }
        .all{
            color:#ffffff90;
            font-size: 15px;
            letter-spacing: 4px;
            font-weight: 500;
            padding-left: 2%;
            padding-bottom: 2%;
        }
    .micro_bot{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .pango{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
            display: flex;
            z-index: 9999;
            padding-right: 2%;
        }
        .mid_ti{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
            display: flex;
            z-index: 9999;
        }
        .pudge-ardilla{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
            display: flex;
            z-index: 9999;
            padding-left: 2%;
        }

/* This is my content */
.container_section{
    max-width:100%;
    height: 100%;
    height: auto;
    background-size: cover; 
}
.r_d{
    width: 100%;
    opacity: .8;
    padding-top: 4%;
    padding-bottom:47%;

}
.space{
    width: 100%;
    background-size: 100% ; 
    padding-top: 0%; 
    padding-bottom:13% ; 
}
.multi_hero{
    width: 100%;
    padding-bottom: 10%;
}
.ti{
    width: 100%;
}

