*{
    box-sizing: border-box;
    font-family: "Radiance","Noto Sans",sans-serif;
}
body{
    background-color: #000000;
    margin: 0%;
}
video{
    position: fixed;
    min-width: 100%;
    min-height: 70%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    opacity: 0.6;
}