*{
    box-sizing: border-box;
    font-family: "Radiance","Noto Sans",sans-serif;
    list-style: none;
}
body{
    font-size:62.5%;
    width: 100%;
    height: 100%;
    background-color: #000000;
    margin: 0%;
    display: flex;
    flex-direction: column;
}
/* This is my header */
.container_header{
    width: 100%;
    height: 80vh;
    float: left;
}
.video{
    width: 100%;
    height: 75%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    opacity: .6;
    position: absolute;
}
.microheader_top{
    top: 0%;
    width: 100%;
    height: auto;
    z-index: 9999;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    padding-left: 0%;
    padding-top: 5px;
    align-items: center;
    flex-wrap: nowrap
}
.vh{
    width: 100%;
    height: 50vh;
}
.microheader_left{
    font-family: "Reaver",serif;
    font-weight: 600;
    letter-spacing:0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 8%;
    text-transform: uppercase;
}
.dota2_logo{
        width: 50px;
        min-width: 50px;
        height: 50px;
        min-height: 50px;
}
.microheader_left ul {
    padding-left: 0%;
}
.microheader_left a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    opacity: .8;
    padding-right: 1.7rem;
    font-family: Reaver, serif;
}
.space_1{
    margin: 0% 10% 0% 10%;
}
.microheader_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: auto;
    padding-right: 10%;
    font-weight: lighter;
    font-size: 0.9rem;
}
.microheader_right ul li a{
    text-decoration: none;
}
.microheader_right a{
    letter-spacing: 0.1rem; 
}
.microheader_right ul{
    text-align: right;
}
.microheader_right li{
    margin-bottom: 7px;
}
.sesion{
    text-align: right;
    color: #ffffff;
    letter-spacing: 1px;
}
.idioms{
    color: rgb(153, 153, 153);
    font: 1rem;
}
.button{
    border: #ffffff90 3px solid;
    display: flex;
    flex-direction:row ;
    align-items: center;
    color: #ffffff90 2.5px;
    transition: border .5s;
    padding: 18px 32px;
    border-radius: 6px 8px;
    margin-left: 1.2rem;
}
    .button:hover{
        border: solid 3px #ff6036;
    }
.button_1{
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//icons/steam_icon.svg");
}
.button_2{
     display: flex;
    flex-direction: row;
    color: #ffffff;
    text-decoration: none;
    text-align: center;

    font-family: Radiance, "Noto Sans", sans-serif;;
    font-weight: 200;
    font-size: 1.2rem;   
}
.microheader_section{
    height: 100%;
    width: fit-content;
    max-width: 60%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}
    .h1{
        font-size: 4rem;
        line-height:102%;
        font-family: "Reaver",serif;
        letter-spacing: 3px;
        font-weight: 900;
        color: #ffffffee;
        text-shadow: 0px 0px 20px #000;
        padding-top: 15%;
    }
    .destructoid{
        margin-top: 5px;
        margin-bottom: 21px;
        font-weight: 400;
        font-size: 20px;
        color: #ffffff90;
        letter-spacing: 2px;
        font-family: "Radiance",sans-serif;
    }
    .horiz_bar{
        width: 80px;
        height: 3px;
        min-height: 3px;
        border-radius: 1px;
        background-color: #ff6046;
    }
    .button_secundary{
        width: 287px;
        height: 78px;
        border-radius: 6px;
        border: 3px solid #ffffff90;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
    }
        .steam_logo{
            background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//icons/steam_icon.svg");
            width: 32px;
            height: 32px;
            margin: 0px 15px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .play_download{
            display: flex;
            flex-direction: column;
        }
            .play{
                color: #fff;
                font-size: 26px;
            }
            .download{
                color: #ffffff90;
                font-size: 12px;           
                letter-spacing: 2.3px;
            }
.microheader_bottom{
    width: 100%;
    height: auto;
    padding: 0% 13% ;
    display: flex;
    flex-direction: column;
    padding-top: 6%;
}
    .micro_top{
        display: flex;
        flex-direction: row;
    }
        .ultimate{
            color: #fff;
            font-size: 15px;
            letter-spacing: 4px;
            font-weight: bold;
            padding-bottom: 2%;
        }
        .all{
            color:#ffffff90;
            font-size: 15px;
            letter-spacing: 4px;
            font-weight: 500;
            padding-left: 2%;
            padding-bottom: 2%;
        }
    .micro_bot{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .pango{
            width: 100%;
            height: 110%;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
            display: flex;
            z-index: 9999;
            padding-right: 2%;
        }
        .mid_ti{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
            display: flex;
            z-index: 9999;
        }
        .pudge-ardilla{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
            display: flex;
            z-index: 9999;
            padding-left: 2%;
        }

        /* This is my content */
.content{
    padding-top: 3%;
    margin-bottom: 30%;
    width: 100%;
    height: 60vh;
    opacity: .6;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/radiant_dire.jpg");
}
    .flex_col-1{
        width: 100%;
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        align-items: center;
        padding-top: 23%;
    }
        .une{
            font-family: "Reaver",serif;
            font-weight: 600;
            font-size: 6rem;
            color: #e2dace;
            letter-spacing: 2px;
            line-height: 105%;
        }
        .battle{
            font-family: "Reaver",serif;
            font-weight: 900;
            font-size: 7rem;
            color: #fff;
            letter-spacing: 3px;
        }
        .horiz_mid_1{
            width: 80px;
            height: 3px;
            min-height: 3px;
            border-radius: 1px;
            background-color: #ff6046;
        }
        
        .text_simp{
            color: #e2dace;
            font-size: 26px;
            line-height: 115%;
            font-weight: 100;
            text-align: center;
            padding: 2% 17% 0%;
            padding-bottom: 2%;
        }
        .nov{
            padding-top: 1.4%;
            text-decoration: none;
            width: 287px;
            height: 78px;
            border-radius: 6px;
            border: 3px solid #ffffff90;
            transition: border .5s;
            font-weight: 200;
            font-size: 23px;
            letter-spacing: 1px;
            color: #fff;
        }
        .nov:hover{
            border: 3px solid #ff6046;
        }
.heroes_plus{
    width: 100%;
    height: 100vh;
    opacity: .9;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("images/heroes-plus.jpg");
    text-align: center;
}
    .flex_col-2{
        width: 100%;
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        align-items: center;
        padding-top: 45%;
    }
        .quien{
            font-family: "Reaver",serif;
            font-weight: 600;
            font-size: 5rem;
            color: #e2dace;
            letter-spacing: 1px;
            line-height: 105%;
        }
        .elegir{
            font-family: "Reaver",serif;
            font-weight: 900;
            font-size: 6rem;
            color: #fff;
            letter-spacing: 2px;
        }
        .horiz_mid_2{
            width: 80px;
            height: 3px;
            min-height: 3px;
            border-radius: 1px;
            background-color: #ff6046;
            margin:auto;
        }
        .text_simp_1{
            color: #e2dace;
            font-size: 26px;
            line-height: 115%;
            font-weight: 100;
            text-align: center;
            padding: 2% 22% 0%;
            padding-bottom: 3%;
        }
        .view{
            padding: 1% 3% 1%;
            text-decoration: none;
            width: 287px;
            height: 78px;
            border-radius: 5px;
            border: 3px solid #ffffff90;
            transition: border .5s;
            font-weight: 200;
            font-size: 18px;
            color: #fff;
        }
            .view:hover{
                border: solid 3px #ff6046;
            }
.espacio{
    width: 100%;
    height: 100vh;
    background-size: 100% 70%;
    background-repeat: no-repeat;
    margin-top: 14%;
    margin-bottom: 0%;
    opacity: .9;
    background-image: url("images/space.png");
}
.t_i{
    width: 100%;
    height: 100vh;
    top: 0%;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-image: url("images/ti_10.jpg");
    padding-top: 24%;
    text-align: center;
    align-items: center;
}
    h1{
        font-family: "Reaver",serif;
        font-weight: 900;
        font-size: 7rem;
        color: #fff;
        letter-spacing: 2px;
        margin-bottom: 0%;
    }
    .horiz_mid_2{
        width: 80px;
        height: 3px;
        min-height: 3px;
        border-radius: 1px;
        background-color: #ff6046;
        margin:auto;
    }
    .text_simp_2{
        color: #e2dace;
        font-size: 26px;
        line-height: 115%;
        font-weight: 100;
        text-align: center;
        padding: 2% 22% 0%;
        padding-bottom: 3%;
    }
.blood{
    width: 100%;
    height: 38vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/blood.png");
    margin-bottom: 11%;
    display: flex;
    flex-direction: column;
    padding-top: 4%;
}   
        .unete{
            font-family: Reaver,serif;
            font-weight: 600;
            font-size: 5rem;
            color: #e2dace;
            line-height: 105%;
            padding-top: 7%;
            padding-left: 10%;
        }
        .batalla{
            font-family: Reaver,serif;
            font-weight: 900;
            font-size: 6rem;
            color: #fff;
            letter-spacing: 4px;
            padding-top: 7%;
            padding-left: 10%;
        }
        .horiz_mid_3{
            width: 80px;
            height: 3px;
            min-height: 3px;
            border-radius: 1px;
            background-color: #ff6046;
            margin-left: 10%;        
        }
        .join{
            padding: 1.3% 3% 1%;
            text-decoration: none;
            width: 287px;
            height: 78px;
            border-radius: 5px;
            border: 3px solid #ffffff90;
            transition: border .5s;
            font-weight: 200;
            font-size: 16px;
            color: #fff;
            margin-top: 2%;
            margin-left: 10%;
        } 
            .join:hover{
                border: #ff6046 solid 3px;
            }
.img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}   
    .valve{ 
        padding-right: 4%;
        margin: 0px 15px 20px 15px;
        max-height: 30px;
    }
    .log_2{
        padding-left: 4%;
        margin: 0px 15px 20px 15px;
        max-height: 30px;
    }
.ultimate_text{
    color: #ffffff90;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 12px;
}