*{
    box-sizing: border-box;
    font-family: "Radiance","Noto Sans",sans-serif;
}
body{
    background-color: #000000;
    margin: 0%;
    font-size:62.5%;
}
.container_header{
    width: 100%;
    height: 85vh;
    float: left
}
video{   
    margin-top:-200px ;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    position: absolute;;
    float: left;
}
section{
    height: 5100px;
    width: 100%;
}
.container_section{
    width: 100%;
    height: 130vh;
    float: left;
}
.radiant{
    width: 100%;
    opacity: .6;
    z-index: -1;
}
.plus{
    width: 100%;
    max-width: 100%;
}
.space{
    width: 100%;
    height: auto;
}
.ti{
    width: 100%;
    height: auto;
}
.container_footer{
    width: 100%;
    height: 50vh;
    float: right;
}
footer{
    width: 100%;
    height: 1000px;
    float: left;
}